* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    width: 250px; /* Lebar tetap */
    height: 100vh; /* Tinggi penuh layar */
    position: fixed;
    background: #4B0082;
    color: white;
}

.sidebar .logo {
    margin-bottom: 30px;
    text-align: center;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    padding: 12px 15px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar nav ul li.active {
    background: rgba(255, 255, 255, 0.1);
}

/* Main Content Styles */
.main-content {
    margin-left: 250px; 
    padding: 20px;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 300px;
}

.search-btn {
    background: #4a3b7c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    margin-left: -40px;
    cursor: pointer;
}

.header-icons {
    display: flex;
    gap: 20px;
}

.nav-tabs .nav-link {
    color: #6c757d;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    margin-right: 2px;
}
.nav-tabs .nav-link.active {
    background-color: #fff;
    border-bottom-color: transparent;
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
  }
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .form-group label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
  }
  .form-group input,
  .form-group select {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-group input[type="radio"] {
    flex: 0;
    margin-left: 5px;
  }
  .form-group .radio-group {
    display: flex;
    gap: 10px;
  }
  .row{
    padding: 8px;
  }